.App {
  height: 100vh;
  display: flex;
}

:root{
  --primary-color: #28c76f;
  --gray-color: #6E6B7B;
  --link-color: #1f1f1f;
  --text-color: #000;
}

.shadow-m {
  box-shadow: 0 2px 14px 0 rgba(0,0,0,.08)!important;
}

.fade:not(.show){
  display: none;
}
a{
  cursor: pointer;
}
.cursor{
  cursor:pointer
}
.d-flex{
  display: flex
}
::-webkit-scrollbar {
  display: none;
}
