.App {
  height: 100vh;
  display: flex;
}


.shadow-m {
  box-shadow: 0 2px 14px 0 rgba(0,0,0,.08)!important;
}

.fade:not(.show){
  display: none;
}
a{
  cursor: pointer;
}
.cursor{
  cursor:pointer
}
.d-flex{
  display: flex
}
::-webkit-scrollbar {
  display: none;
}
